<div id="body-container">
  <header>
    <h2><span class="header-text">L & L</span><span class="header-text">Pizzeria</span></h2>
    <h4>"The best pizza in Chicago!"</h4>
    <nav>
      <div class="nav-link"><a href="/">Home</a></div>
      <div class="nav-link"><a href="src/assets/pages/menu.html">Menu</a></div>
      <div class="nav-link"><a href="src/assets/pages/coupons.html">Coupons</a></div>
    </nav>
  </header>


  <div id="content">
    <div id="slideshow">
      <img id="food" src="assets/images/pizza.jpg" align="center">
      <div class="arrows">
        <div onclick="ppic()">&#8592;</div>
        <div onclick="npic()">&#8594;</div>
      </div>
    </div>

    <div id="home-content">
      <div id="home-intro">
        <p>Welcome to L & L Pizzeria! Located in downtown Chicago, Illinois, we offer a wide variety of Italian foods, including pizza, pasta dishes, and even wine!</p>
        <p>Click on the link above to view our menu, or click the arrows above to browse images.</p>
      </div>
      <img src="assets/images/postcard.jpg">
    </div>

    <app-menu-item></app-menu-item>

  </div>


  
    
  


  <footer>
    <div class="footer-left">
      <h6>Hours</h6>
      <p>Monday: Closed<br>
        Tues. - Fri.: 12:00 am - 11:00 pm<br>
        Saturday: 10:00 am - 12:00 pm<br>
        Sunday: 1:00 pm - 10:00 pm</p>
    </div>
    <div class="footer-right">
      <h6>Address</h6>
      <p>121 E. Main Street<br>
      Chicago, Illinois<br>
      60626<br>
      (Tel) 610-909-0927</p>
    </div>
    
  </footer>
  </div>